<!-- 1- (app.component.html) Realizar:
 una aplicacion que se le ingresen dos edades en dos cuadro de textos
edadUno, EdadDos
mostrar el promedio y la suma en dos cuadros de textos nuevos
botones "calcular" y "limpiar cuadros de textos" -->





<div class="content" role="main">


  <label>Edad uno:</label>
  <input type="text" [(ngModel)]="edadUno"/> <br>
  <label>Edad uno:</label>
  <input type="text" [(ngModel)]="edadDos"/> <br>
  <input type="button"  value="Calcular" ><br>
  <input type="button"  value="limpiar cuadros de textos" ><br>
  <label>Promedio: </label>{{promedio}}<br>
  <label>Suma: </label>{{suma}}<br>
  

</div>